<h1>Dashboard</h1>

<p><%= link_to 'Configuration', controller: 'configurations' %></p>

<p><%= link_to 'Projects', controller: 'projects' %></p>

<p><%= link_to 'Commits', controller: 'commits' %></p>
