// Place all the styles related to the commits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    width:100%;
    overflow:hidden;
    border:1px solid;
    word-wrap:break-word;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px;
}

.pretty th .asc {
  background-image: image-url('up_arrow.png');
}

.pretty th .desc {
  background-image: image-url('down_arrow.png');
}
